@font-face {
  font-family: "Chronicle Display";
  src: local("Chronicle Display SemiBold"), local("Chronicle Display SemiBold"),
    url("fonts/Chronicle Display SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle Display";
  src: local("Chronicle Display Bold"), local("Chronicle Display Bold"),
    url("fonts/Chronicle Display Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
